table {
  border: 3px outset gray;
}

td {
  border: 2px solid gray;
  background-color: rgb(0, 204, 255);
  padding-left: 15px;
}

h2 {
  color: red;
  margin-top: 2px;
  margin-bottom: 2px;
}



input[type=number] {
    width: 112px;
}

th {
  background-color: rgb(237, 231, 129);
}

.buttonscell {
  text-align: center;
}

.buttons {
  padding: 10px 30px 10px 30px;
  margin-left: 5px;
}

.padding1, .padding2, .padding3, .padding4, .padding5, .padding6, .padding7 {
    padding-left: 15px;
}

.padd1, .padd2, .padd3, .padd4, .padd5, .padd6, .padd7 {
    padding-left: 15px;
}
